*{
    font-family: "Sofia Sans";
}
    body{
width: 1600px;
height: 1200px;
background:linear-gradient(to right,rgba(229, 233, 239, 0.80),rgba(185, 152, 194, 0.8) );
padding: 106px 80px 104px 80px;
}  
.imgsmall{
    width:250px;
    height:380px;
    border-radius: 15px;
} 
.imgwide{
    width:550px;
    height:160px;
    border-radius: 15px;
} 
.biggest{
    display: grid;
    width: 1440px;
    height: 990px;
    grid-template-columns: 240px 1fr 1fr 1fr 1fr;
    grid-gap: 10px 10px;
    border-radius: 20px;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.8),rgba(218, 227, 234, 0.8));
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-column: 1/2;
    grid-row: 2/6;
    padding: 51px 42.038px 20px 56px;
}
.explore{
    font-size: 30px;
    max-height: fit-content;
}
.box a{
    display: inline-block;
    text-decoration: none;
    color:black;
    font-size: 15.71px;
} 
.asidebox{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}
.box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box img{
    margin: 10px;
    width: 20px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width:100%;
}
.bottom img{
    height: 47px;
    width: 47px;
}
.bottom a{
    text-decoration: none;
    color:black;
    font-size: 15.71px;
}
header{
    grid-column: 1/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 51px 42.038px 59.405px 56px;
}
.logo img{
    width: 70px;
}
.head1{
    display: flex;
    align-items: center;
}
.head2{
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}
.head2 a{
    text-decoration: none;
    color:black;
    font-size: 17px;
} 
input{
    border: none;
    background: transparent;
}
.mainbox1{
    display: grid;
    grid-column: 2/4;
    grid-row: 2/3;
    object-fit: fill;
}
.mainbox2{
    display: grid;
    grid-column: 2/4;
    grid-row:3/4;
}
.mainbox3{ 
    display: grid;
    grid-column: 4/5;
    grid-row: 2/4;
}
.mainbox4{
    display: grid;
    grid-column: 5/6;
    grid-row: 2/4;
}
.mainbox5{ 
    display: grid;
    grid-column: 2/3;
    grid-row: 4/6;
}
.mainbox6{ 
    display: grid;
    grid-column: 3/4;
    grid-row: 4/6;
}
.mainbox7{
    display: grid;
    grid-column: 4/6;
    grid-row: 4/5;
}
.mainbox8{
    display: grid;
    grid-column: 4/6;
    grid-row: 5/6;
}
button{
    border:none;
    background:  rgba(244, 240, 240, 0.8);
}